
@font-face {
  font-family: 'ProximaNova';
  src: url(../proximaNova/ProximaNova-Reg.woff) format('woff');
  src: url(../proximaNova/ProximaNova-Bold.woff) format('woff');
}

html, body, header, h1, h2, h3, h4, ul, li, a, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'ProximaNova-Reg', Arial, Helvetica;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
html {
  background: #660066;
  border: 6px solid black;
}
body {
  padding: 0 0 10vh 0;
  margin: 1%;
  border: 2px solid black;
  background: #DB94FF;
  box-shadow: 2px 2px 20px;
  /*
  background: -webkit-linear-gradient(0deg, #DB94FF 60%, #ffffff);
  background: -ms-linear-gradient(0deg, #DB94FF 60%, #ffffff);
  background: linear-gradient(0deg, #DB94FF 60%, #ffffff);
  */
  position: relative;
  z-index: -1;
}
body::after {
  content: "";
  background-image: url(../attachments/dark_embroidery/dark_embroidery.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
header {
  /*height: 150px;*/
  height: 25vh;
}
ul {
  list-style-type: none;
}
main {
  /*margin: 0 20px 20px 20px; */
  /*padding: 0 0 10vh 0;*/
}
.pagehead {
  height: 20vh;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

h1 {
  text-align: center;
  font-family: 'Playball'; cursive;
  /*font-size: 85px;*/
  font-size: 12.5vh;
  /*font-size: 5em;*/
  color: white;
  /*text-shadow: 15px 22.5px 5px #333333;*/
  text-shadow: 15px 30px 5px #333333;
}
nav {
  text-align: center;
}
nav li {
    display: inline-block;
    width: 4vw;
    padding: 5px 25px 5px 25px;
    border: 1px solid #CC66FF;
    background: white;
    /*box-shadow: 5px 7.5px 5px #333333;*/
    box-shadow: 10px 15px 5px #333333;
}
nav li a {
  font-weight: bold;
  color: #660066;
  transition: .75s;
  -webkit-transition: .75s
  -ms-transition: .75s;
}
nav li a:link {
  display: inline-block;
  font-weight: bold;
  color: #660066;
}
nav li a:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
}
.video {
  max-height: 70vh;
  max-width: 93.333vh;
  width: 55%;
  margin: 0 auto;
}
video {
  width: 100%;
  display: block;
  box-shadow: 4px 4px 20px;
}

.videotext {
  /*width: 850px;*/
  width: 75vw;
  margin: 35px auto 0 auto;
}
p {
  margin-bottom: 10px;
  font-size: 1.1em;
}
p a {
  font-weight: bold;
  color: #660066;
}
p a:link {
  font-weight: bold;
  color: #660066;
}
.videotext p {
  font-size: 3vh;
}
input[type=submit] {
  display:block;
  margin:5px 10px 5px 10px;
  width: 25%;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 3px black;
  background: #B3B3B3;
  box-shadow: 1px 1px 15px 0 #1A1A1A;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
h2 {
  font-family: 'Playball', cursive;
  font-size: 70px;
  font-style: normal;
  font-weight: normal;
  padding-left:120px;
}
.resume {
  padding: 0;
  background: url(../attachments/images/paper.png);
  height: 1050px;
  -ms-width: 800px;
  -webkit-width: 800px;
  width: 800px;
  -ms-margin: 0 auto 0 auto;
  -webkit-margin: 0 auto 0 auto;
  margin:0 auto 0 auto;
  border-top: 1px solid black;
  box-shadow: 5px 5px 5px black;
}
.resume img {
  opacity: .7;
  height: 1050px;
  width: 800px;
}
.downloads {
  height: 50px;
  width: 20%;
  margin: 0 auto;
}
button {
  width: 30%;
  font-family: 'ProximaNova';
  font-size: 1em;
  color: white;
  text-shadow: 1.5px 1.5px 1px black;
  background: #B3B3B3;
  box-shadow: 1px 1px 5px 0 #1A1A1A;
}
#word {
  float: left;
}
#pdf {
  float: right;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.contactmain {
  -ms-height: 100vh;
  -webkit-height: 100vh;
  height: 100vh;
}

.socialmedia {
  position:absolute;
  left: 500px;
  top: 50px;
}
.socialmedia li {
    padding: 5px;
    border: none;
    background: none;
    box-shadow: none;
}
.socialmedia img {
  height: 50px;
  width: 50px;
}
.socialmedia li:nth-child(5) {
  padding: 5px 25px 5px 25px;
  border: 1px solid #CC66FF;
  background: white;
  box-shadow:3px 3px 3px #000;
  position: absolute;
  top: 12px;
  left: 280px;
}
/* copied from original 'form' element */
#wufoo-z1bcspgi1sbwmie {
  padding: 10px;
  /*width: 815px;*/
  width: 65%;
  border-top:1px solid black;
  box-shadow: 3px 3px 3px black;
  background: url(../attachments/halftone/halftone.png);
  /*float: left;*/
  margin-left: 100px;
}
.selfpic {
  width: 15%;
  /*width: 220px;
  height: 150px;
  float: right;*/
  position: absolute;
  top: 200px;
  right: 45px;
}
.selfpic img{
/*width: 220px;
height: 150px;*/
width: 100%;
border: 1px solid black;
}
.selfpic p {
  text-align: center;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.projmain {
  -ms-height: 100vh;
  -webkit-height: 100vh;
  height: 100vh;
}
.home {
    position: absolute;
    top: 41px;
    left: 370px;
}
.home li {
    width: 4vw;
    padding: 5px 25px 5px 25px;
    border: 1px solid #CC66FF;
    background: white;
    box-shadow:3px 3px 3px #000;
}
aside {
  width: 15%;
  height: 21%;
  padding: 1%;
  font-size: .95em;
  background-image: url(../attachments/dark_embroidery/dark_embroidery.png);
  box-shadow: inset .2em .2em .8em .1em;
  position: absolute;
  left: 1.5%;
  z-index: 1;
}
aside::after {
  content: "";
  background: #660066;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
aside h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 1em;
}
aside li {
  margin-bottom: 1em;
  font-weight: 900;
  text-align: center;
  text-shadow: #ffffff;
}
aside li a {
  color: #DB94FF;
  font-weight: 900;
}
#projects {
  width: 60%;
  margin-top: 1.5%;
  text-align: center;
  position: absolute;
  left: 20%;
}
#projects li {
  display: inline-table;
  margin: 10px 30px 10px 30px;
}
#projects img {
  height: 150px;
  width: 150px;
}
#projects img:hover {
  box-shadow: 5px 3px 3px black;
  -webkit-transition: .75s;
  -ms-transition: .75s;
  transition: .75s;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
#zen, #selectors, #group {
  box-sizing: border-box;
  width: 80%;
  position: absolute;
  right: -100vw;
  padding: 20px;
  display: none;
  position: fixed;
  top: 60%;
}
#zen p {
  font-size: 3vh;
  }
#selectors p {
  font-size: 3vh;
} 
#group p {
  font-size: 3vh;
}

/*
[id^='description-'] {
  box-sizing: border-box;
  width: 80%;
  position: absolute;
  right: -100%;
  padding: 20px;
  display: none;
}
[id^='description-'] p {
  font-size: 3vh;
}
[data-] {
  box-sizing: border-box;
  width: 80%;
  position: absolute;
  right: -100%;
  padding: 20px;
  display: none;
}
[data-] p {
  font-size: 3vh;
}
*/
h3 {
  color:white;
  margin-bottom: 5px;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.curtaintop, .curtainleft, .curtainright, .seats, #playbutton, #exitbutton {
  display: none;
}
.curtaintop img {
  /*height: 150px;*/
  height: 100%;
  width: 100%;
  display: block;
  opacity: .9;
}
.curtaintop {
  height: 22.5%;
  width: 100%;
  position: absolute;
  top: 0%;
  
  }
.curtainleft img {
  /*height: 450px;*/
  height: 100%;
  }
.curtainleft {
  height: 70%;
  position: absolute;
  /*top: 145px;*/
  top: 22%;
  left: -30%;
}
.curtainright img {
  /*height: 450px;*/
  height: 100%;
}
.curtainright {
  height: 70%;
  position: absolute;
  /*top: 145px;*/
  top: 22%;
  right: -30%;
}
/*
.seats img {
  width: 100%;
  display: block;
}
.seats {
  width: 1346px;
  position: absolute;
  bottom: -215px;
}
*/
#playbutton {
  width: 25%;
  position: absolute;
  bottom: 10px;
}
#exitbutton {
  width:25%;
  position: absolute;
  bottom: 10px;
  right: -200px;
}


@-webkit-keyframes fadeblack {
  from {background: #DB94FF;}
  to {background: #000;}
}
@keyframes fadeblack {
  from {background: #DB94FF;}
  to {background: #000;}
}
.fadeblack {
  -webkit-animation-name: fadeblack;
          animation-name: fadeblack;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;  
  background: #000;
}


@-webkit-keyframes lightson {
  from {background: #660066;}
  to {background: #FBFCD7;}
}
@keyframes lightson {
  from {background: #660066;}
  to {background: #FBFCD7;}
}
.lightson {
  -webkit-animation-name: lightson;
          animation-name: lightson; 
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  background: #FBFCD7;
}


@-webkit-keyframes patternfade {
  from {opacity: .5;}
  to {opacity: 0;}
}
@keyframes patternfade {
  from {opacity: .5;}
  to {opacity: 0;}
}
body.patternfade::after {
  content: "";
  background-image: url(../attachments/dark_embroidery/dark_embroidery.png);
  -webkit-animation-name: patternfade;
          animation-name: patternfade;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  opacity: 0;  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

