
@font-face {
  font-family: 'ProximaNova';
  src: url(proximaNova/ProximaNova-Reg.woff) format('woff');
}

html, body, header, h1, h2, h3, h4, ul, li, a, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'ProximaNova', Arial, Helvetica;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
html {
}
body {
  padding: 0 0 10vh 0;
  background: linear-gradient(0deg, #DB94FF 60%, #ffffff);
  position: relative;
}
body::after {
  content: "";
  background-image: url(images/dark_embroidery/dark_embroidery.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
header {
  /*height: 150px;*/
  height: 25vh;
}
main {
  /*margin: 0 20px 20px 20px; */
  /*padding: 0 0 10vh 0;*/
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */



h1 {
  text-align: center;
  font-family: 'Playball'; cursive;
  /*font-size: 85px;*/
  font-size: 12.5vh;
  /*font-size: 5em;*/
}
nav {
  text-align: center;
}
nav li {
    display: inline-block;
    width: 4vw;
    padding: 5px 25px 5px 25px;
    border: 1px solid #CC66FF;
    background: white;
    box-shadow:3px 3px 3px;
}
.menu {
  font-weight: bold;
  color: #660066;
  transition: .75s;
}
.menu:link {
  display: inline-block;
  font-weight: bold;
  color: #660066;
}
.menu:hover {
  transform: scale(1.5);
}

.video {
  max-height: 70vh;
  max-width: 93.333vh;
  width: 55%;
  margin: 0 auto;
}
video {
  width: 100%;
  display: block;
}

.videotext {
  /*width: 850px;*/
  width: 75vw;
  margin: 35px auto 0 auto;
}
p {
  margin-bottom: 10px;
  font-size: 1.1em;
}
.videotext p {
  font-size: 3vh;

}
/*.first {
  height: 40vh;
  width: 20vw;
  border: 1px solid red;
  position: absolute;
  top: 50vh;
  left: 10vw;
}
.second {
  height: 40vh;
  width: 20vw;
  border: 1px solid black;
  position: absolute;
  top 100vh;
  left: 20vh;
}*/
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
h2 {
  font-family: 'Playball', cursive;
  font-size: 70px;
  font-style: normal;
  font-weight: normal;
  padding-left:120px;
}
.resume {
  padding: 0;
  background: url(images/paper.png);
  height: 1050px;
  width: 800px;
  margin:0 auto 0 auto;
  border-top: 1px solid black;
  box-shadow: 5px 5px 5px black;
}
.resume img {
  opacity: .7;
  height: 1050px;
  width: 800px;

}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.socialmedia {
  position:absolute;
  left: 500px;
  top: 50px;
}
.socialmedia li {
    padding: 5px;
    border: none;
    background: none;
    box-shadow: none;
}
.socialmedia img {
  height: 50px;
  width: 50px;
}
.socialmedia li:nth-child(5) {
  padding: 5px 25px 5px 25px;
  border: 1px solid #CC66FF;
  background: white;
  box-shadow:3px 3px 3px #000;
  position: absolute;
  top: 10px;
  left: 270px;
}
form {
  padding: 10px;
  /*width: 815px;*/
  width: 65%;
  border-top:1px solid black;
  box-shadow: 3px 3px 3px black;
  background: url(images/halftone/halftone.png);
  /*float: left;*/
  margin-left: 100px;
}
input[type=submit] {
  display:block;
  margin:5px 10px 5px 10px;
  width: 25%;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 3px black;
  background: #B3B3B3;
  box-shadow: 1px 1px 15px 0 #1A1A1A;
}
input[type=text] {
  display:block;
  margin:5px 10px 5px 10px;
  width: 60%;
  border:1px solid black;
  font-size: 20px;
  padding: 7px;
  box-shadow: inset 2px 2px 8px 0px #1A1A1A;
  background: white;
  opacity: .7;
}
textarea {
  margin: 5px 10px 0 10px;
  /*width:750px;*/
  width: 93%;
  /*height: 400px;*/
  height: 60vh;
  padding: 7px;
  box-shadow: inset 5px 5px 10px 0px #1A1A1A;
  /*background: radial-gradient(ellipse farthest-side at 525px, #B3B3B3 20%, black);*/
  /*background: radial-gradient(ellipse farthest-side at 67%, #B3B3B3 20%, black);*/
  background: white;
  opacity: .7;
  font-size:24px;
  /*background: #B3B3B3;*/
  border: 1px solid black;
}


input[placeholder] {
  color: black;
  padding-left: 30px;
}
textarea[placeholder] {
  color: black;
  padding: 20px 0 0 40px
}
::-webkit-input-placeholder {
  color: black;
}
:-moz-placeholder {
  color: black;
}
::-moz-placeholder {
  color: black;
}
:-ms-input-placeholder {
  color: black;
}
.selfpic {
  width: 15%;
  /*width: 220px;
  height: 150px;
  float: right;*/
  position: absolute;
  top: 200px;
  right: 45px;
}
.selfpic img{
/*width: 220px;
height: 150px;*/
width: 100%;
border: 1px solid black;
}
.selfpic p {
  text-align: center;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.blog {

}
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.projmain {
  height: 100vh;
}
.home {
    position: absolute;
    top: 41px;
    left: 370px;
}
.home li {
    width: 4vw;
    padding: 5px 25px 5px 25px;
    border: 1px solid #CC66FF;
    background: white;
    box-shadow:3px 3px 3px #000;
}
.projects {
  text-align: center;
}
.projects li {
  display: inline-table;
  margin: 10px;
}
.projects img {
  height: 150px;
  width: 150px;
}
.projects img:hover {
  box-shadow: 5px 3px 3px black;
  transition: .75s;
  transform: scale(1.5);
}
.semantic, .zen, .selectors, .js, .group {
  box-sizing: border-box;
  width: 80vw;
  position: absolute;
  right: -100vw;
  /*background: #000;*/
  padding: 20px;
  /*box-shadow: 20px 20px 25px 5px gray;*/
  display: none;
}
.descriptions p {
  /*text-shadow: .5px .5px black;*/
  font-size: 3vh;
}
h3 {
  color:white;
  margin-bottom: 5px;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.curtaintop, .curtainleft, .curtainright, .seats, #playbutton, #exitbutton {
  display: none;
}
.curtaintop img {
  width: 100%;
  display: block;
  opacity: .9;
}
.curtaintop {
  width: 1346px;
  position: absolute;
  top: -100px;
  }
.curtainleft img {
  height: 480px;
  }
.curtainleft {
  position: absolute;
  top: 215px;
  left: -200px;
}
.curtainright img {
  height: 480px;
}
.curtainright {
  position: absolute;
  top: 215px;
  right: -200px;
}
.seats img {
  width: 100%;
  display: block;
}
.seats {
  width: 1346px;
  position: absolute;
  bottom: -215px;
}

#playbutton {
  width: 25%;
  position: absolute;
  bottom: 10px;
}
#exitbutton {
  width:25%;
  position: absolute;
  bottom: 10px;
  right: -200px;
}
.effects {
  background: #000000;
}
.raiseup {
  position: absolute;
}

/*nav display inline-block
background image using pseudo element after, before
*/
